<footer>
  <div class="left">
    Social: <a href="https://www.facebook.com/eirik.underbakke" class="fbfb">Facebook</a>, <a target="_blank" href="http://youtube.com/c/luseteleport" class="youtube"><span class="you">You</span><span class="tube">Tube</span></a>, <a target="_blank" href="https://vimeo.com/user34669729" class="vimeo">Vimeo</a>, <a target="_blank" href="https://plus.google.com/+luseteleport" class="google"><span class="g">G</span><span class="oneo">o</span><span class="twoo">o</span><span class="secondg">g</span><span class="l">l</span><span class="e">e</span></a>, <a target="_blank" href="http://no.linkedin.com/in/EirikUnderbakke" class="linkedin">Linkedin</a> 
  </div>
  <div class="right">
    Filter: <a (click)="sort('photoshop', $event)">#photoshop</a> <a (click)="sort('aftereffects', $event)">#after effects</a> <a (click)="sort('gif', $event)">#gif</a> <a (click)="sort('video', $event)" class="filter">#video</a> | <a (click)="sort('', $event)" class="removeFilter">remove filter</a>
  </div>
</footer>